$bg-light: hsl(0, 0%, 100%);
$bg: hsl(0, 0%, 95%);
$bg-dark: hsl(0, 0%, 90%);

$text: hsl(0, 0%, 5%);
$text-muted: hsl(0, 0%, 30%);

$primary: #1AB999;
$secondary: #FFBB10;

$border: hsl(224 0% 50%);
$border-muted: hsl(224 0% 75%);

$danger: hsl(9, 65%, 45%);
$warning: hsl(52, 60%, 50%);
$success: hsl(147, 50%, 40%);
$info: hsl(217, 60%, 50%);