@use "colors" as colors;
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');



* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Space Grotesk", "Open Sans", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}


html,
body {
  scroll-behavior: smooth;
  margin: 0;
}

.main {
  padding: 1rem 2rem;
  background-color: colors.$bg-light;
}