@use "src/styles/colors" as colors;

.sw-input {
    width: 100%;


    .sw-input-label {
        color: colors.$text;
        margin-bottom: 4px;
    }

    .sw-input-input {
        padding: .5rem 1rem;
        width: 100%;

        color: colors.$text;
        border: 1px solid colors.$border-muted;
        background-color: colors.$bg;
        border-radius: 4px;

        transition: all 150ms linear;

        &:focus {
            border-color: colors.$primary;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    .sw-input-helper {
        color: colors.$text-muted;
        font-size: .8rem;
    }

    .sw-input-error {
        color: colors.$text-muted;
        font-size: .8rem;
    }


    .sw-input-shake {
        animation: shake 250ms cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        border-color: colors.$danger !important;
    }
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}