$bg-light: hsl(0, 0%, 100%);
$bg: hsl(0, 0%, 95%);
$bg-dark: hsl(0, 0%, 90%);

$text: hsl(0, 0%, 5%);
$text-muted: hsl(0, 0%, 45%);

$green: #18A77F;
$blue: #0EAED0;
$yellow: #F5A623;

$border: hsl(220, 40%, 60%);
$border-muted: hsl(220, 40%, 80%);

$danger: hsl(9, 65%, 45%);
$warning: hsl(52, 60%, 50%);
$success: hsl(147, 50%, 40%);
$info: hsl(217, 60%, 50%);