#navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
}

#navbar-overlay canvas,
#navbar-overlay svg,
#navbar-overlay nav {
    position: absolute;
    top: 0;
    left: 0;
}

#navbar-overlay nav {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
}

/* Hide scrollbar for all browsers */
body {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
    display: none;
}
