.animation-fade-slide-in {
    opacity: .05;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    will-change: opacity, transform;
}


.animation-fade-slide-in-shown {
    opacity: 1;
    transform: translateY(0);
}
